/*Basic Designs*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

.d-none {
    display: none;
}

.flex-columm {
    display: flex;
    flex-direction: column;
}

/*Navbar*/
.navbar {
    display: flex;
    flex-wrap: nowrap !important;
    padding-left: 16px;
    padding-right: 16px;
    ;
}

.navbar input {
    margin-right: 100px;
}

/*Pokemon-Cards Main-Section*/

.content-wrapper {
    margin: 8px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 3px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(239, 239, 239, 1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card::after {
    content: '';
    position: absolute;
    top: -3.5px;
    left: -3.5px;
    right: -3.5px;
    bottom: -3.5px;
    z-index: -1;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.pokemon-card:hover::after {
    opacity: 1;
}

.pokemon-card:hover::after {
    background-image: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0));
}


.pokemon-card-top {
    display: flex;
    gap: 30px;
}

.pokemon-card-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.single-pokemon-type {
    padding: 2px;
    width: 70px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.pokemon-card-image {
    object-fit: contain;
    height: 150px;
}



/*Open Card Modal*/

.pokemon-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 450px;
    border-radius: 16px;
    background-color: white;
}

#pokemon-background-modal {
    position: fixed;
    height: 120%;
    width: 100%;
    margin-top: -200px;
    z-index: 9998;
}



/*Single Pokemon Card Top*/ 



/*Single Pokemon Card Bottom*/
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 18px;

}

li {
    border-bottom: 1px solid transparent;
}

li:hover {
    border-bottom: 1px solid rgb(57, 57, 223);
    position: relative;
}






